* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  height: 100vh;
  background: url("/resources/img/beer2.jpg") no-repeat;
  background-size: cover;
  font-family: $serif;
  color: $text-color;
  h3 {
    font-family: $heading;
  }
}
