.whole-list {
  display: flex;
  flex-flow: row wrap;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-around;
}
.kegInfo {
  max-width: 800px;
  width: 350px;
  height: auto;
  border: 2px solid black;
  margin: 5px auto;
  padding: 10px;
  display: flex;
  flex-flow: column;
  @extend %whiteBg;
  .beerInfo {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: baseline;
    justify-content: space-around;
    align-content: space-around;
    * {
      margin: 5px 0;
    }
  }
  .buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    button {
      @extend %button;
      margin-right: 10px;
    }
    #edit {
      background-color: white;
      border: 1px solid $light-grey;
      margin-bottom: 10px;
    }

  }
}


.filter {
  width: 200px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
