.keg-form {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background: $light-grey;
  border: 2px solid black;
  button {
    width: 100px;
    height: 40px;
    border: none;
    font-family: $heading;
    border-radius: 8px;
    margin-top: 20px;
    background-color: $low-color;
  }
}
