$serif: 'Karla', sans-serif;

$heading: 'Graduate', cursive;


$text-color:#330000;

$expensive-color:#ffa31a;

$low-color: #ff6666;

$buy-pint: #86BA90;

$empty-color: #ff3333;

$header-background: #271F30;

$header-text: #330000;

$light-grey: #FFD972;

%whiteBg {
  background: rgba(255, 255, 255, 0.8);
}

%button {
  width: 100px;
  height: 40px;
  border: none;
  font-family: $heading;
  border-radius: 8px;
  margin-top: 20px;
  background-color: $buy-pint;
}
