$serif: 'Karla', sans-serif;

$heading: 'Graduate', cursive;

$text-color:#330000;

$expensive-color:#ffa31a;

$low-color: #ff6666;

$empty-color: #ff3333;

$header-background: #ffcc80;

$light-grey: #aaa;


%button {
  width: 100px;
  height: 40px;
  border: none;
  font-family: $heading;
  border-radius: 8px;
  margin-top: 20px;
  background-color: $low-color;
}
