@import 'utils/module';
@import 'base/module';
@import 'components/module';
@import 'layout/module';

.selected {
  color: #22bdf0;
}

.foo {
  background: red;
}
.expensivePint {
  h3{
    color: orange;
  }
}

.kegIsLow {
  color: red;
}
